body {
    padding: 0;
    margin: 0;
}

div {
    background-color: rgb(252, 226, 114);
}

a[href="./index.html"] {
    color: rgba(2, 104, 199, 0.925);
}

/* Seleção por id (começa com #) */

#titulo-home {
    color: rgba(2, 104, 199, 0.925);
}

/* Seleção por classe (começa com .) */
.item_menu {
    display: inline;
}

/* Seleção com combinador */
.menu>li {
    display: inline;
}

.menu a:hover {
    color: rgba(90, 171, 247, 0.925);
}